assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
netbeans/*
/nbproject/private/
/vendor/
/nbproject/
!/assets/giixer.js
.netbeans.xml
